# IntelliJ
.idea/
*.iml
out/

# vim
*.swp

# python
*.pyc

# Maven
target/

# Java
*.class

# Package Files
*.jar
*.war
*.ear

# text files
*.log
*.txt
*.csv

# sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE
.scala_dependencies
